.mine{
    background-color: #3b8b5f;
    padding : 100px;
    text-align: center;
}

.lof{
    
    font-size:30px;
    color: #ef9610e9;
}

.dis{
    font-size: 20px;
    color: hwb(337 10% 15% / 0.914);
    margin-top:20px;
}

.mine-btn{
    display: inline-block;
    background-color: #ef9610e9;
    color:white;
    padding:10px 20px;
    text-decoration:none;
    border-radius:10px;
}
    

